<div class="utilization-donut-chart-pf">
  <span ng-class="{'utilization-donut-chart-pf-block': $ctrl.chartLayout !== 'inline', 'utilization-donut-chart-pf-inline': $ctrl.chartLayout === 'inline'}">
    <span class="utilization-donut-chart-pf-item">
      <pf-donut-pct-chart ng-if="$ctrl.chartData" id="$ctrl.id" config="$ctrl.config" data="$ctrl.chartData" center-label="$ctrl.centerLabel" on-threshold-change="$ctrl.onThresholdChange()"></pf-donut-pct-chart>
      <pf-empty-chart ng-if="!$ctrl.chartData" chart-height="$ctrl.chartHeight"></pf-empty-chart>
    </span>
    <span ng-if="$ctrl.chartData.dataAvailable !== false" class="utilization-donut-chart-pf-item">
      {{$ctrl.chartTitle}}
      <span ng-if="$ctrl.chartData" ng-switch="$ctrl.labelLabel">
        <span ng-switch-when="none"></span>
        <span ng-switch-when="available">{{$ctrl.doit}} {{$ctrl.chartData.available}} {{$ctrl.labelUnits}} available</span>
        <span ng-switch-when="percent">{{$ctrl.chartData.percent}}&#37; used</span>
        <span ng-switch-default="">{{$ctrl.chartData.used}} {{$ctrl.labelUnits}} of {{$ctrl.chartData.total}} {{$ctrl.labelUnits}} used</span>
      </span>
    </span>
  </span>
</div>
